html {
    scroll-behavior: smooth;
    background-color: black;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(40, 39, 39, 0.7), rgba(0, 0, 0, 0.6)), url(background.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    height: 50px;
    background-color: rgba(21, 21, 21, 0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    padding: 0 20px;
}
  
.navbar h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
  
.navbar .links {
    margin-left: auto;
}
  
.navbar .links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    outline: none;
    transition: outline 0.3s fast-in-out;
    margin-left: 10px;
}
  
@media screen and (max-width: 768px) {
    .navbar h1 {
      font-size: 16px;
    }
  
    .navbar .links a {
      font-size: 14px;
    }
}

.navbar .links .Purchase:hover,
.navbar .links .Discord:hover {
    outline: 1px solid white;
}

.card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-container .card {
    width: 350px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 10px 20px;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
    outline: 0.5px solid rgba(255, 255, 255, 0.3);
}

.card-container .card h1 {
    transform: translateY(25px);
}

.card-container .card p {
    transform: translateY(50px);
    margin-bottom: 20px;
}

.card-container .card:hover{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.arrow-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-60%);
}

.arrow-button a {
    display: block;
    position: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 254, 254, 0.5);
    background-image: url(arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow-button a.rotate {
    transform: rotate(180deg);
  }
  
  .arrow-button a:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  @media screen and (max-width: 768px) {
    .arrow-button a {
      display: none;
    }
  }
  

.arrow-button .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(50, 49, 49, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline: 0.5px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.arrow-button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
  
@media screen and (max-width: 768px) {
    .arrow-button .tooltiptext {
      display: none;
    }
}

#next-section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(40, 39, 39, 0.7), rgba(0, 0, 0, 0.6)), url(background.jpg);
    background-position: center;
    background-size: cover;
}

#next-section .loadstring {
    width: 100%;
    max-width: 850px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    outline: 0.5px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
    #next-section .loadstring {
        width: 850px;
        height: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}



#next-section .loadstring:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#next-section .loadstring.clicked {
    outline: 0.5px solid rgba(43, 255, 0, 1);
    animation: fadeOut 1s forwards;
}

.second-navbar {
    height: 50px;
    background-color: rgba(21, 21, 21, 0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    padding: 0 20px;
}
  
.second-navbar h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
  
.second-navbar .links {
    margin-left: auto;
}
  
.second-navbar .links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    outline: none;
    transition: outline 0.3s fast-in-out;
    margin-left: 10px;
}
  
@media screen and (max-width: 768px) {
    .second-navbar {
        display: none;
    }
}