body {
  background-image: url(images/background.png);
  background-size: cover;
}


.Codeblock-container {
    position: relative;
}
  
.Codeblock {
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.2);
    border-style: solid;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    color: white;
    width: 50%;
    line-height: 0.2;;
    overflow: auto;
}

.Codeblock::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}
  
.Codeblock::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}
  
.Codeblock::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}
  
.Codeblock::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Codeblock:before {
    content: counter(item) ".";
    counter-increment: item;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    width: 1.5em; 
    top: 10px;
}

.btnblock {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
}

.btnblock:hover {
    cursor: grab;
}

.btnblock:active {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
    background-color: white;
    border-radius: 5px;
}